body{
    border: 1px solid red;
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}
header{
    background: rgb(39,94,144);
    text-align: center;
}
header img{
    width: 170px;
}
section{
    background: rgb(239,239,239);
}
#secArt01{
    display: inline-block;
    margin-left: 520px;
}
#secArt02, #secArt03{
    display: inline-block;
    border: 1px solid red;
}
#secArt02{
    margin-top: 10px;
    width: 25%;
}
#secArt03{
    background: #ffffff;
    margin-left: 273px;
    margin-top: -240px;
    width: 73%;
    border: 1px solid red;
}
#art03Art01 article{
    display: inline-block;
    padding: 18px 8px;
    width: 17.9%;
}
#art03Art01 article:nth-child(1){
    border: 1px solid red;
    background: rgb(37, 166, 44);
}