body{
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}
footer{
    background: #050506;
    margin-top: 70px;
}
footer img{
    width: 300px;
}
footer article article{
    display: inline-block;
    margin-top: 15px;
    padding: 15px;
    vertical-align: top;
    width: 15%;
}
header article:nth-child(1){
    background: #050506;
    display: inline-block;
    width: 965px;

}
header article{
    display: inline-block;
}
header article:nth-child(1){ 
    vertical-align: top;
}
#HeaArt01{
    margin-left: 60px;
}
#HeaArt02{
    margin-left: 460px;
    margin-top: 9px;
    vertical-align: top;
}
header input:nth-child(1){
    width: 140px;
}
header input:nth-child(2){
    width: 100px;
}
header article:nth-child(1) img{
    width: 50px;
}
header article:nth-child(1) input{
    border-radius: 5px;
    height: 30px;
}
#seccion01{
    background: #dcdcef;
    padding-top: 50px;
    padding-bottom: 90px;
}
#seccion01 input{
    height: 30px;
    width: 350px;
}

/*
header article:nth-child(2){
    background: #dcdcef;
    height: 150px;
    text-align: center;
}
header article:nth-child(2) input{
    padding-top: 4px;
    padding-bottom: 4px;
    width: 360px;
}*/
section{
    text-align: center;
}
section article{
    display: inline-block;
}
#fArtprin{
    margin-left: 60px;
}
#fArt05{
    margin-top: 100px;
    width: 20%;
}
#fArt05 img{
    margin-left: -10px;
    width: 40px;
}
#seccion02{
    margin-top: 100px;
}
#seccion02 article article{
    display: inline-block;
    padding: 0 7px;
    vertical-align: top;
}
#seccion02 article:nth-child(2){
    margin-left: 20px;
}
#seccion02 article article:nth-child(2){
    margin-left: -5px;
}
#seccion02 article article img{
    height: 70px;
}
#seccion03{
    margin-top: 70px;
    margin-left: -45px;
}
#seccion03 article article{
    display: inline-block;
    padding: 0 3px;
    vertical-align: top;
}
#seccion03 article:nth-child(2){
    margin-left: 27px;
}
#seccion03 article article:nth-child(2){
    margin-left: 10px;
}
#seccion03 article article img{
    height: 60px;
}
#seccion04{
    margin-top: 70px;
    margin-left: -85px;
}
#seccion04 article article{
    display: inline-block;
    padding: 0 3px;
    vertical-align: top;
}
#seccion04 article:nth-child(2){
    margin-left: 40px;
}
#seccion04 article article:nth-child(2){
    margin-left: 10px;
}
#seccion04 article article img{
    height: 60px;
}
.color-blanco{
    color: #FFFFFF;
}
.color-lila{
    color: #a6a6ff;
}
.fondo-lila{
    background-color: #5062c5;
    border: 1px solid #5062c5;
}
.fondo-negro{
    background: #050506;
    border: 1px solid #FFFFFF;
}
.flecha{
    position: absolute;
    top: 167px;
    left: 865px;
}
.letra-footer{
    font-size: 0.68em;
}
.letra-intermedia{
    font-size: 0.75em;
}
.learn-more{
    font-size: 0.85em;
}
.letra-titulo{
    font-size: 2.5em;
}
.en-medio{
    position: relative;
    top: -14px
}
.texto-izq{
    text-align: left;
}
.nito{
    font-weight: bold;
}